.feedback-dialog {
    background-color: var(--color-background-secondary);
    color: var(--color-text);
    border: none;
    border-radius: 16px;
    max-width: 400px;
    width: 100%;

    .feedback-dialog__form {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}