@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

$color-text: #f5f5f5;
$color-border: #e0e0e0;
$color-background: #212121;
$color-box: #424242;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: $color-background;
    color: $color-text;
    height: 100dvh;
    @include center;
}

.card {
    width: 400px;
    border-radius: 16px;
    border: 1px solid $color-border;
    padding: 16px;
    background-color: $color-box;

    &__image {
        width: 100%;
        border-radius: 16px;
    }

    &__buy {
        background-color: rgb(134, 153, 153);
        color: white;
        border-radius: 16px;
        padding: 8px 16px;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
}
