.page {
    padding: 8px;

    .add-product {
        background-color: #171717;
        color: rgb(66, 229, 229);
        height: 150px;
        width: 100%;
        font-size: 48px;
        margin-bottom: 8px;
        cursor: pointer;

        &:hover {
            background-color: #101010;
        }
    }
}
