name: Build and Push Docker Images

on:
    push:
        branches:
            - main
        paths:
            - "pr4/**"

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push backend
              uses: docker/build-push-action@v5
              with:
                  context: ./pr4/api
                  push: true
                  tags: ghcr.io/${{ github.repository }}/mirea-fibr-pr4-backend:latest

            - name: Build and push frontend
              uses: docker/build-push-action@v5
              with:
                  context: ./pr4
                  push: true
                  tags: ghcr.io/${{ github.repository }}/mirea-fibr-pr4-frontend:latest
